<h1>Update an image</h1>
<%= form_for @image do |f| %>
  <div class="input-group">
    <span class="input-group-addon" id="title-addon">Title</span>
    <%= f.text_field :title, autofocus: true, class: "form-control", aria: { describedby: "title-addon" } %><br />
  </div>

  <div class="input-group">
    <%= f.label :pictype %><br />
    <%= f.radio_button :pictype, :picture %>Picture
    <%= f.radio_button :pictype, :artwork %>Artwork
    <%= f.radio_button :pictype, :other %>Other<br />
  </div>

  <div class="input-group">
    <%= f.label :uri, "URL:" %>
    <%= f.text_field :uri, class: "form-control" %><br />
    <p class="formReqs">(cannot be blank)</p>
  </div>

  <div class="input-group">
    <%= f.label :latitude %>
    <%= f.number_field :latitude, step: "0.000001", class: "form-control" %><br />
    <p class="formReqs">(must be between -90 &amp; 90, up to 6 decimal places allowed)</p><br />
  </div>

  <div class="input-group">
    <%= f.label :longitude %>
    <%= f.number_field :longitude, step: "0.000001", class: "form-control" %><br />
    <p class="formReqs">(must be between -180 &amp; 180, up to 6 decimal places allowed)</p><br />
  </div>

  <div class="input-group">
    <%= f.label :width %>
    <%= f.number_field :width, class: "form-control" %><br />
  </div>

  <div class="input-group">
    <%= f.label :height %>
    <%= f.number_field :height, class: "form-control" %><br />
  </div>

  <div class="input-group">
    <%= f.label :tags %>
    <%= f.text_area :tags, class: "form-control" %><br />
    <p class="formReqs">(tags should be separated by commas. Accepted characters: letters, numbers, spaces, and -_+=~.?!:;'"@#$%^&amp;*()[]{}&lt;&gt;/\)</p><br />
  </div>

  <%= f.submit "Add Image", class: "btn btn-success" %>
<% end %>
