<h1>Add a new image to your collection</h1>
<%= form_for @image do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true %><br />

  <%= f.label :pictype %><br />
  <%= f.radio_button :pictype, :picture %>Picture
  <%= f.radio_button :pictype, :artwork %>Artwork
  <%= f.radio_button :pictype, :other %>Other<br />

  <%= f.label :uri, "URL:" %>
  <%= f.text_field :uri %><br />
  <p class="formReqs">(cannot be blank)</p><br />

  <%= f.label :latitude %>
  <%= f.text_field :latitude %><br />
  <p class="formReqs">(must be between -90 &amp; 90)</p><br />

  <%= f.label :longitude %>
  <%= f.text_field :longitude %><br />
  <p class="formReqs">(must be between -180 &amp; 180)</p><br />

  <%= f.label :width %>
  <%= f.text_field :width %><br />

  <%= f.label :height %>
  <%= f.text_field :height %><br />

  <%= f.label :tags %>
  <%= f.text_area :tags %><br />
  <p class="formReqs">(tags should be separated by commas. Accepted characters: letters, numbers, spaces, and -_+=~.?!:;'"@#$%^&amp;*()[]{}&lt;&gt;/\)</p><br />

  <%= f.submit %>
<% end %>
