<h1><%= @image.title %></h1>
<%= image_tag @image.uri, class: image_class(@image), alt: @image.title, size: image_large_size(@image.aspect_ratio) %>
<h3>Type:</h3>
<p><%= @image.pictype %></p>
<% if @image.pictype == :picture %>
  <h3>Location:</h3>
  <p><%= location_with_symbols(@image.latitude, @image.longitude) %></p>
<% end %>
<h3>Tags:</h3>
<div class="container">
  <% @tags.each do |tag,i| %>
    <div class="tag">
      <%= tag %>
    </div>
  <% end %>
</div>
<h3>Add or remove tag:</h3>
<%= form_for @image, remote: true do |f| %>
  <%= f.label :tags %>
  <%= f.text_area :tags %>
  <%= f.submit %>
<% end %>
<%= link_to "Edit this image", edit_image_path %><br />
<%= link_to "Delete this image X", @image, method: :delete %>
