<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Capstone <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Home", root_path %></li>
                  <li><%= link_to "About", about_path %></li>
                  <li><%= link_to "FAQ", faq_path %></li>
                  <li role="separator" class="divider"></li>
                  <% if user_signed_in? %>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <% if flash[:notice]  %>
        <p class="notice" id="noticeDiv"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert" id="alertDiv"><%= flash[:alert] %></p>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
